# Core do projeto
Django==5.2.*

# Se você usa ImageField (uploads)
Pillow>=10.2,<11

# Carregar variáveis do .env durante o desenvolvimento
python-dotenv>=1.0.1,<2

# Agendador de tarefas via cron
django-crontab>=0.7,<1.0

# Windows: base de timezones (no-op em Linux/macOS)
tzdata>=2024.1; sys_platform == "win32"

# ---- Opcionais para produção (descomente se for usar) ----
# whitenoise>=6.7
# psycopg[binary]>=3.2
# dj-database-url>=2.2
# gunicorn>=21.2